
#panel, #panel:overview, #panel.unlock-screen, #panel.login-screen, #panel.lock-screen {
  background-color: #000;
  font-weight: 500;
  height: 25px;
  color: #dadada;
  font-feature-settings: "tnum";
  transition-duration: 250ms;
  font-size: 10pt;
  transition: all;
  box-shadow: none;
  transition-duration: 250ms;
}

/*Buttons*/
#panel .panel-button, #panel:overview.panel-button, #panel.unlock-screen.panel-button, #panel.login-screen.panel-button, #panel.lock-screen.panel-button {
  -natural-hpadding: 7px;
  -minimum-hpadding: 7px;
  font-weight: 500;
  transition: all;
  transition-duration: 100ms;
}

#panel.transparent-top-bar--solid {
    transition-duration: 300ms;
}
#panel.transparent-top-bar--solid .panel-corner {
    -panel-corner-border-width: 0px;
    transition-duration: 300ms;
}

#panel.transparent-top-bar--fade-text .panel-button {
    color: #babababa;
    transition: color 0.3s ease;
}

#panel.transparent-top-bar--fade-text:hover .panel-button {
    color: #eee;
}

#panel.transparent-top-bar--transparent {
    background-color: rgba(0, 0, 0, 0.25);
    transition-duration: 500ms;
}
#panel.transparent-top-bar--transparent:overview {
    background-color: transparent;
    transition-duration: 250ms;
}
#panel.transparent-top-bar--transparent .panel-corner {
    -panel-corner-border-width: 0px;
    -panel-corner-opacity: 0.25;
    transition-duration: 500ms;
}
#panel.transparent-top-bar--transparent:overview .panel-corner {
    -panel-corner-opacity: 0;
    transition-duration: 250ms;
}
#panel.transparent-top-bar--transparent .panel-button {
    color: #eee;
    text-shadow: none;
}
#panel.transparent-top-bar--transparent .system-status-icon,
#panel.transparent-top-bar--transparent .app-menu-icon > StIcon,
#panel.transparent-top-bar--transparent .popup-menu-arrow {
    icon-shadow: none;
}
#panel.transparent-top-bar--transparent:hover {
    text-shadow: none;
}
#panel.transparent-top-bar--transparent:hover .system-status-icon,
#panel.transparent-top-bar--transparent:hover .app-menu-icon > StIcon,
#panel.transparent-top-bar--transparent:hover .popup-menu-arrow {
    icon-shadow: none;
}
#panel.transparent-top-bar--transparent:active .system-status-icon,
#panel.transparent-top-bar--transparent:overview .system-status-icon,
#panel.transparent-top-bar--transparent:focus .system-status-icon,
#panel.transparent-top-bar--transparent:checked .system-status-icon {
    icon-shadow: none;
}

